<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="Name" value="CodeAssistant"/>
    <add key="AppCode" value="CASS"/>
    <add key="TempToken" value="61005D03D93DD640E20F853E9F7C9949398B7D3C97DEB81A357E738F751CB909"/>
    <add key="BackendUrl" value="http://code-assistant.com"/>
  </appSettings>
</configuration>
