obj/
bin/
PersistanceProvider/bin
TestResults
CodeAssistant.Tests/bin
CodeAssistant.Tests/obj
CodeAssistant/bin
CodeAssistant/obj
CodeAssistant.Domain/bin
CodeAssistant.Domain/obj
CodeAssistant.ViewModel/bin
CodeAssistant.ViewModel/obj
CodeAssistant/Auth
CodeAssistant/temp
CodeAssistant.Unittests/obj
CodeAssistant.Unittests/bin
CodeAssistant.Infrastructure/bin
CodeAssistant.Infrastructure/obj
